<app-header></app-header>

<section >
    <div class="form">
        <h2><strong>Sistema Estatal de información Pesquera y Acuicola</strong></h2>
    </div>
    <div class="form2">
        <h3>Acesso al sistema</h3>
    </div>

<form class="for">
    <div class="mb-3 row">
      <label for="exampleInputEmail1"  class="col-sm-2 col-form-label">CURP:</label>
      <div class="col-sm-10">
          <input type="email" class="form-control" id="exampleInputEmail1" >
      </div>
    </div>
    <div class="mb-3 row">
      <label for="exampleInputPassword1"  class="col-sm-2 col-form-label">Contraseña:</label>
      <div class="col-sm-10">
          <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
    </div>
    <div class="boton">
        <button type="button" class="btn btn-outline-danger">Iniciar sesión</button>
    </div>
  </form>
</section>

  <br>

<app-footer></app-footer>